<router-outlet>
    <!-- <div *ngIf="showLoader">
        <div class="mat-spinner-overlay">
            <div class="mat-spinner-center">
                <mat-spinner class="mat-spinner-track-watermark" [diameter]="90" [strokeWidth]="11" mode="determinate" value="100"> </mat-spinner>
                <mat-spinner class="mat-spinner-track" [diameter]="90" [strokeWidth]="11"></mat-spinner>
            </div>
        </div></div> -->
        
    <h1>sdp</h1>
    </router-outlet>
    <h1>sdp</h1>


<div id="background-image"></div>