 #background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 20px;
     z-index: -1;
    background-image: url('../../../assets/imagenes/fondoprincipal2.png');
     background-size: cover;
 }

 