::ng-deep mat-spinner.mat-spinner-track-watermark {
    position: absolute !important;
}

::ng-deep mat-spinner.mat-spinner-track-watermark circle {
    stroke-opacity: 0.2 !important;
    stroke: #337ab7 !important;
}

::ng-deep mat-spinner.mat-spinner-track {
    position: relative !important;
}

::ng-deep mat-spinner.mat-spinner-track circle {
    stroke: #337ab7 !important;
}


:host, html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;  /* ocupa toda la pantalla */
}

.content {
  flex: 1;            /* hace que el contenido crezca y empuje el footer abajo */
}

#background-image_up  {
  display: fixed;
  top: 0; left: 0;
  align-items: center;    /* centra verticalmente */
  justify-content: center;/* centra horizontalmente */
  height: 40px;
  background: #3b5998;
  color: white;
}

.footer {
  display: flex;
  align-items: center;    /* centra verticalmente */
  justify-content: center;/* centra horizontalmente */
  height: 70px;
  background: rgb(30, 37, 131);
  color: white;
}

::ng-deep .swal2-title {
    font-size: 1.8rem !important; 
    font-weight: 400 !important; ;
  }

  