//@import '../../../../../../assets/styles.scss';
/* 
::ng-deep .dx-datagrid-headers{
  @include background-color(blue, 'base');
  @include color(gray, 'xx-light');
  font-family: 'Roboto', sans-serif;
  @include font('s','heading');
}

::ng-deep .dx-data-row {
  @include background-color(gray, 'xx-light');
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
  background-color: #e6e6e6;
  @include background-color(gray, 'light');
}

::ng-deep #data-grid-demo {
  min-height: 530px;
}

::ng-deep #gridContainer {
  height: 440px;
}
 */