<div *ngIf="loaderDinarp.status | async" class="loader-overlay">
  <div class="loader"></div>
  <div class="loader-message">Consultando Servicios DINARP...</div>
</div>

<div *ngIf="loaderMain.status | async" class="loader-overlay">
  <div class="loader"></div>
</div>

<div class="busqueda-container">
  <h1 class="titulo-principal">Suspensión de Derechos Políticos</h1>

  <div class="formulario-busqueda">
    <dx-text-box [(value)]="cedula" placeholder="Ingrese la cédula" width="300"></dx-text-box>
    <dx-button text="Buscar" (onClick)="buscarInfoSuspension()" type="success" icon="search"></dx-button>
    <dx-button text="Ingreso Manual" (onClick)="buscarInfoIngresoManual()" type="normal" icon="add"></dx-button>
  </div>
</div>

<!-- Consejo de la Judicatura -->
<p class="titulo-secundatrio" *ngIf="mensajeCJ.length || dataJudicatura.length" style="padding-left: 30px;font-weight: bold;font-size: larger;">
  Consejo de la Judicatura (SENTENCIAS)
</p>

<div class="resultado-container" style="font-size: medium;">
  <p *ngIf="mostrarMensajeCJ" 
     [ngClass]="{ 'texto-error': esErrorCJ, 'texto-exito': !esErrorCJ }"
     style="padding-left: 30px;">
    {{ mensajeCJ }}
  </p>

  <dx-data-grid
    *ngIf="mostrarTablaCJ && dataJudicatura.length"
    [dataSource]="dataJudicatura"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    class="tabla-resultado"
  >
    <dxi-column dataField="numeroProceso" caption="Num Sentencia"></dxi-column>
    <dxi-column dataField="nombreProcesado" caption="Procesado"></dxi-column>
    <dxi-column 
        dataField="asuntoDelito" 
        caption="Delito" 
        [width]="300">
    </dxi-column>
    <dxi-column dataField="fechaSentencia" caption="Fecha Sentencia"></dxi-column>
    <dxi-column dataField="tipoSentencia" caption="Tipo Sentencia"></dxi-column>
    <dxi-column caption="PDF" cellTemplate="pdfCell"></dxi-column>
    <div *dxTemplate="let data of 'pdfCell'">
      <dx-button (click)="abrirModalPDF(data.data.documentoBase64)" type="default" icon="file">
      </dx-button>
    </div>

    <dxi-column
  caption="INGRESAR"
  [width]="100"
  cellTemplate="ingresarCell">
</dxi-column>

<div *dxTemplate="let data of 'ingresarCell'">
  <dx-button
    icon="plus"
    type="success"
    stylingMode="contained"
    (onClick)="ingresarSentenciaCJ(data.data)">
  </dx-button>
</div>
  </dx-data-grid>
</div>

<!-- Tribunal Contencioso Electoral -->
<p class="titulo-secundatrio" *ngIf="mensajeTCE.length || dataTCE.length" style="padding-left: 30px;font-weight: bold;font-size: larger;">
  Tribunal Contencioso Electoral (SENTENCIAS)
</p>

<div class="resultado-container" style="font-size: medium;" >
  <p *ngIf="mostrarMensajeTCE" 
     [ngClass]="{ 'texto-error': esErrorTCE, 'texto-exito': !esErrorTCE }"
     style="padding-left: 30px;">
    {{ mensajeTCE }}
  </p>

  <dx-data-grid
    *ngIf="mostrarTablaTCE && dataTCE.length"
    [dataSource]="dataTCE"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    class="tabla-resultado"
  >
    <dxi-column dataField="numeroProceso" caption="Num Sentencia"></dxi-column>
    <dxi-column dataField="nombreProcesado" caption="Procesado"></dxi-column>
    <dxi-column dataField="asuntoDelito" caption="Delito"></dxi-column>
    <dxi-column dataField="fechaSentencia" caption="Fecha Sentencia"></dxi-column>
    <dxi-column dataField="tipoSentencia" caption="Tipo Sentencia"></dxi-column>
    <dxi-column
      caption="PDF"
      cellTemplate="pdfCellTCE"
    ></dxi-column>

    <div *dxTemplate="let data of 'pdfCellTCE'">
      <button (click)="abrirModalPDF(data.data.base64PDF)">
        Ver PDF
      </button>
    </div>
  </dx-data-grid>
</div>

<dx-popup
  [(visible)]="mostrarFormularioManual"
  [showTitle]="true"
  title="Registrar Sentencia"
  [width]="800"
  [height]="'auto'"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
>
  <div class="p-4">
    <form #formManual="ngForm">
      <div class="form-grid">

        <!-- Primera fila -->
        <div>
          <label>Institución:</label>
          <dx-select-box
            [(value)]="sentenciaINGRESO.institucion"
            [readOnly]="!esIngresoManual"
            [items]="instituciones"
            displayExpr="name"
            valueExpr="id">
          </dx-select-box>
        </div>
        <div>
          <label>Cédula:</label>
          <dx-text-box [(value)]="sentenciaINGRESO.cedula" placeholder="Cédula"></dx-text-box>
        </div>

        <!-- Segunda fila -->
        <div>
          <label>Nombres y Apellidos:</label>
          <dx-text-box [(value)]="sentenciaINGRESO.nombre" placeholder="Nombres"></dx-text-box>
        </div>
        
        <div>
          <label>Nro. Sentencia:</label>
          <dx-text-box [(value)]="sentenciaINGRESO.numeroSentencia" placeholder="Nro. Sentencia"></dx-text-box>
        </div>

        <!-- Tercera fila -->
        <div>
          <label>Duración (número):</label>
          <dx-number-box [(value)]="sentenciaINGRESO.duracion" 
          (onValueChanged)="actualizarFechaFin()"></dx-number-box>
          
        </div>

        <div>
          <label>Tipo de Duración:</label>
          <dx-select-box
            [(value)]="sentenciaINGRESO.codigoDuracion"
            [items]="codDuracion"
            displayExpr="name"
            valueExpr="id"
            (onValueChanged)="actualizarFechaFin()">
          </dx-select-box>
        </div>

        <!-- Cuarta fila -->
        <div>
          <label>Inicio de Sentencia:</label>
          <dx-date-box [(value)]="sentenciaINGRESO.fechaInicio" displayFormat="dd/MM/yyyy"
          (onValueChanged)="actualizarFechaFin()"></dx-date-box>
        </div>
        <div>
          <label>Fin de Sentencia:</label>
          <dx-date-box [(value)]="sentenciaINGRESO.fechaFin" displayFormat="dd/MM/yyyy" [readOnly]="true"></dx-date-box>
        </div>

    <!-- Quinta fila (centrado) -->
<div class="col-span-2">
  <label style="display: block; text-align: center;">Documento de Sentencia:</label>

  <ng-container *ngIf="esIngresoManual; else archivoCargado">
    <div style="display: flex; justify-content: center; ">
      <dx-file-uploader
        #uploaderRef
        accept=".pdf"
        [multiple]="false"
        [uploadMode]="'useForm'"
        [showFileList]="true"
        (onValueChanged)="onArchivoSeleccionado($event)">
      </dx-file-uploader>
    </div>
  </ng-container>

  <ng-template #archivoCargado>
    <p style="color: green; font-weight: bold; text-align: center; margin-top: 10px;">
      Documento de Sentencia Cargado
    </p>
  </ng-template>
</div>

      </div>

      <!-- Botones -->
      <div class="botones-formulario mt-4 text-center">
        <dx-button text="Guardar" type="success" (onClick)="verificarExistenciaSentencia()" icon="save"></dx-button>
        <dx-button text="Limpiar" type="default" (onClick)="limpiarFormIngreso()" icon="refresh"></dx-button>
        <dx-button text="Cancelar" type="danger" (onClick)="cancelarFormIngreso()" icon="close"></dx-button>
      </div>
    </form>
  </div>
</dx-popup>

<dx-popup
  [(visible)]="mostrarPdfPopup"
  [showTitle]="true"
  title="Documento PDF"
  [width]="1100"
  [height]="700"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
>
  <div class="p-4" style="height: 100%;">
    <iframe *ngIf="base64PDF" [src]="base64PDF" width="100%" height="600px"></iframe>
  </div>
</dx-popup>


