<div *ngIf="loader.status | async" class="loader-overlay">
  <div class="loader"></div>
  <div class="loader-message">Consultando Servicios DINARP...</div>
</div>

<div class="busqueda-container">
  <h1 class="titulo-principal">Suspensión de Derechos Políticos</h1>

  <div class="formulario-busqueda">
    <dx-text-box [(value)]="cedula" placeholder="Ingrese la cédula" width="300"></dx-text-box>
    <dx-button text="Buscar" (onClick)="buscarInfoSuspension()" type="success" icon="search"></dx-button>
    <dx-button text="Ingreso Manual" (onClick)="buscarInfoIngresoManual()" type="normal" icon="add"></dx-button>
  </div>
</div>

<!-- Consejo de la Judicatura -->
<p class="titulo-secundatrio" *ngIf="mensajeCJ.length || dataJudicatura.length" style="padding-left: 30px;font-weight: bold;font-size: larger;">
  Consejo de la Judicatura (SENTENCIAS)
</p>

<div class="resultado-container">
  <p *ngIf="mostrarMensajeCJ"
     [ngClass]="{ 'texto-error': esErrorCJ, 'texto-exito': !esErrorCJ }"
     style="padding-left: 30px;">
    {{ mensajeCJ }}
  </p>

  <dx-data-grid
    *ngIf="mostrarTablaCJ && dataJudicatura.length"
    [dataSource]="dataJudicatura"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    class="tabla-resultado"
  >
    <dxi-column dataField="numeroProceso" caption="Num Sentencia"></dxi-column>
    <dxi-column dataField="nombreProcesado" caption="Procesado"></dxi-column>
    <dxi-column 
        dataField="asuntoDelito" 
        caption="Delito" 
        [width]="300">
    </dxi-column>
    <dxi-column dataField="fechaSentencia" caption="Fecha Sentencia"></dxi-column>
    <dxi-column dataField="tipoSentencia" caption="Tipo Sentencia"></dxi-column>
    <dxi-column
      caption="PDF"
      cellTemplate="pdfCell"
    ></dxi-column>

    <div *dxTemplate="let data of 'pdfCell'">
      <dx-button (click)="abrirModalPDF(data.data.base64PDF)" type="default" icon="file">
      </dx-button>
    </div>
  </dx-data-grid>
</div>

<!-- Tribunal Contencioso Electoral -->
<p class="titulo-secundatrio" *ngIf="mensajeTCE.length || dataTCE.length" style="padding-left: 30px;font-weight: bold;font-size: larger;">
  Tribunal Contencioso Electoral (SENTENCIAS)
</p>

<div class="resultado-container">
  <p *ngIf="mostrarMensajeTCE"
     [ngClass]="{ 'texto-error': esErrorTCE, 'texto-exito': !esErrorTCE }"
     style="padding-left: 30px;">
    {{ mensajeTCE }}
  </p>

  <dx-data-grid
    *ngIf="mostrarTablaTCE && dataTCE.length"
    [dataSource]="dataTCE"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    class="tabla-resultado"
  >
    <dxi-column dataField="numeroProceso" caption="Num Sentencia"></dxi-column>
    <dxi-column dataField="nombreProcesado" caption="Procesado"></dxi-column>
    <dxi-column dataField="asuntoDelito" caption="Delito"></dxi-column>
    <dxi-column dataField="fechaSentencia" caption="Fecha Sentencia"></dxi-column>
    <dxi-column dataField="tipoSentencia" caption="Tipo Sentencia"></dxi-column>
    <dxi-column
      caption="PDF"
      cellTemplate="pdfCellTCE"
    ></dxi-column>

    <div *dxTemplate="let data of 'pdfCellTCE'">
      <button (click)="abrirModalPDF(data.data.base64PDF)">
        Ver PDF
      </button>
    </div>
  </dx-data-grid>
</div>

<dx-popup
  [(visible)]="mostrarFormularioManual"
  [showTitle]="true"
  title="Registrar Sentencia"
  [width]="800"
  [height]="'auto'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
>
  <div class="p-4">
    <form #formManual="ngForm">
      <div class="form-grid">
        <!-- Primera fila -->
        <div>
          <label>Institución:</label>
          <dx-select-box
            [(value)]="sentenciaManual.institucion"
            [readOnly]="false"
            [items]="instituciones"
            displayExpr="name"
            valueExpr="id">
          </dx-select-box>
        </div>
        <div>
          <label>Cédula:</label>
          <dx-text-box [(value)]="sentenciaManual.cedula" placeholder="Cédula"></dx-text-box>
        </div>
        <div>
          <label>Nombres y Apellidos:</label>
          <dx-text-box [(value)]="sentenciaManual.nombre" placeholder="Nombres y Apellidos"></dx-text-box>
        </div>

        <!-- Segunda fila -->
        <div>
          <label>Nro. Sentencia:</label>
          <dx-text-box [(value)]="sentenciaManual.numeroSentencia" placeholder="Nro. Sentencia/Proceso/Causa"></dx-text-box>
        </div>
        <div>
          <label>Tipo de Acción:</label>
          <dx-text-box [(value)]="sentenciaManual.tipoAccion" placeholder="Tipo de Acción"></dx-text-box>
        </div>

        <!-- Tercera fila -->
        <div>
          <label>Fecha de Ingreso:</label>
          <dx-date-box [(value)]="sentenciaManual.fechaIngreso" displayFormat="dd/MM/yyyy"></dx-date-box>
        </div>
        <div>
          <label>Tipo de Razón:</label>
          <dx-text-box [(value)]="sentenciaManual.tipoRazon" placeholder="Tipo de Razón"></dx-text-box>
        </div>

        <!-- Cuarta fila -->
        <div>
          <label>Fecha de Razón:</label>
          <dx-date-box [(value)]="sentenciaManual.fechaRazon" displayFormat="dd/MM/yyyy"></dx-date-box>
        </div>
        <div>
          <label>Tipo de Sentencia:</label>
          <dx-text-box [(value)]="sentenciaManual.tipoSentencia" placeholder="Tipo de Sentencia"></dx-text-box>
        </div>

        <!-- Quinta fila -->
        <div>
          <label>Fecha de Sentencia:</label>
          <dx-date-box [(value)]="sentenciaManual.fechaSentencia" displayFormat="dd/MM/yyyy"></dx-date-box>
        </div>
        <div>
          <label>Unidad Judicial:</label>
          <dx-text-box [(value)]="sentenciaManual.unidadJudicial" placeholder="Unidad Judicial"></dx-text-box>
        </div>

        <!-- Subir PDF -->
        <div class="col-span-2">
          <label>Subir Documento de Sentencia (PDF):</label>
          <dx-file-uploader
            accept=".pdf"
            [multiple]="false"
            [uploadMode]="'useForm'"
            [showFileList]="true"
            (onValueChanged)="onArchivoSeleccionado($event)">
          </dx-file-uploader>
        </div>

        <!-- Botones -->
       
      </div>
      <div class="botones-formulario">
        <dx-button text="Guardar" type="success" (onClick)="guardarManual()"  icon="save"></dx-button>
        <dx-button text="Limpiar" type="default" (onClick)="limpiarManual()"  icon="refresh"></dx-button>
        <dx-button text="Cancelar" type="danger" (onClick)="cancelarManual()"  icon="close"></dx-button>
        
      </div>
    </form>
  </div>
</dx-popup>
